.about {
  position: relative;
  min-height: 460px;

  .col-md-8 {
    padding-left: 1.5rem;
  }

  .counter {
    font-weight: 700;
    font-size: 3rem;
    line-height: 3.75rem;
    color: $honolulu-blue;

    .counter-detail {
      font-size: 1.125rem;
      line-height: 1.375rem;
      color: $black;
      font-weight: 400;
    }
  }

  .about-button {
    position: absolute;
    bottom: 2rem;

    &:after {
      content: '>';
      position: relative;
      padding-left: 0.5rem;
    }
  }
}
