section.main {
  background-color: $honolulu-blue;
  padding-bottom: 30px;
  overflow: hidden;
  .image {
    position: absolute;
    bottom: calc(50% - 50px);
  }



  img {
    border-radius: 0!important;
  }

  .photo-caption {
    bottom: 30%;
    left: 80px !important;
    .header {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      text-align: start;
      .title {
        text-align: start;
        width: 231px;
        height: 150px;
        padding: 0;
        overflow: hidden;
        position: relative;
        display: inline-block;
        text-decoration: none;
        text-overflow: ellipsis;
        white-space: initial;
        color: $prussian-blue;
        font-weight: 600;
        font-size: 36px;
        line-height: 45.36px;
      }

      button {
        font-weight: 600;
        font-size: 18px;
        line-height: 22.68px;
      }
    }
  }


  .swiper-pagination {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 99;
    display: flex;
    gap: 4px;
    width: 100% !important;

    .swiper-pagination-bullet {
      transition: all 0.1ms;
      width: 12.57px;
      height: 30px;
      background-color: $spanish-gray;
      color: $spanish-gray;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      align-content: center;

      &.swiper-pagination-bullet-active {
        background-color: $prussian-blue;
        color: $white;
        width: 56.57px;
      }
    }
  }
}
