$breakpoint-small: 0px;
$breakpoint-phone: 480px;
$breakpoint-tablet: 640px;
$breakpoint-desktop: 992px;
$breakpoint-ultra: 1300px;

$breakpoint-small-max: ($breakpoint-small - 1);
$breakpoint-phone-max: ($breakpoint-phone - 1);
$breakpoint-tablet-max: ($breakpoint-tablet - 1);
$breakpoint-desktop-max: ($breakpoint-desktop - 1);
$breakpoint-ultra-max: ($breakpoint-ultra - 1);

$fontTT: 'TT Hoves Pro Trial Regular', sans-serif;
$fontTTMedium: 'TT Hoves Pro Trial Medium', sans-serif;
$fontTTBold: 'TT Hoves Pro Trial Bold', sans-serif;

$white: #ffffffff;
$white2: #dcdcdc;
$cadet-gray: #9499A0;
$spanish-gray: #9499A0;
$honolulu-blue: #0073afff;
$prussian-blue: #0d2438ff;

/* SCSS HSL */
$white: hsla(0, 0%, 100%, 1);
$cadet-gray: hsla(215, 6%, 60%, 1);
$honolulu-blue: hsla(201, 100%, 34%, 1);
$prussian-blue: hsla(208, 62%, 14%, 1);

/* SCSS RGB */
$white: rgba(255, 255, 255, 1);
$cadet-gray: rgba(148, 153, 160, 1);
$honolulu-blue: rgba(0, 115, 175, 1);
$prussian-blue: rgba(13, 36, 56, 1);


$gradient-top: linear-gradient(0deg, #ffffffff, #9499a0ff, #0073afff, #0d2438ff);
$gradient-right: linear-gradient(90deg, #ffffffff, #9499a0ff, #0073afff, #0d2438ff);
$gradient-bottom: linear-gradient(180deg, #ffffffff, #9499a0ff, #0073afff, #0d2438ff);
$gradient-left: linear-gradient(270deg, #ffffffff, #9499a0ff, #0073afff, #0d2438ff);
$gradient-top-right: linear-gradient(45deg, #ffffffff, #9499a0ff, #0073afff, #0d2438ff);
$gradient-bottom-right: linear-gradient(135deg, #ffffffff, #9499a0ff, #0073afff, #0d2438ff);
$gradient-top-left: linear-gradient(225deg, #ffffffff, #9499a0ff, #0073afff, #0d2438ff);
$gradient-bottom-left: linear-gradient(315deg, #ffffffff, #9499a0ff, #0073afff, #0d2438ff);
$gradient-radial: radial-gradient(#ffffffff, #9499a0ff, #0073afff, #0d2438ff);
